// Colores
// Primarios
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

// Acento
$blue: hsl(248, 32%, 49%);

// Neutral
$darkBlue: hsl(249, 10%, 26%); 
$grayishBlue: hsl(246, 25%, 77%);
$white: hsl(0, 0%, 100%);

// Fuente
$fuente_principal :"Poppins", sans-serif;

//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;